# Stuff we don't want to track

# automake stuff
configure
aclocal.m4
Makefile.in
autom4te.cache/
build-aux/
libltdl/
.libs/
m4/argz.m4
m4/libtool.m4
m4/ltdl.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autoheader_dummy.*
Makefile
config.log
config.status
libtool
stamp-h*
*-autoconf.h

# general stuff
*.regdb

# build stuff
*.Plo
*.Po
*.[oa]
*.l[oa]
*.lai
lt-*.c
*_ltshwrapper
*.gch

# Windows stuff
OOServer_msgs.h
OOServer_msgs.rc
*.exe
*.dll

# msvc stuff
*.obj
*.[ip]db
*.lib
*.intermediate.manifest
*.embed.manifest
*.pch
*.res
*.exp
*.ncb
*.ilk
*.vcproj.*.user
*.suo
*.aps
BuildLog.htm
mt.dep
dte80a.*

# WiX stuff
*.msi
*.msm
*.wixpdb
*.wixobj
*.wixproj.FileList.txt

# Unix stuff
ooserverd
oosvruser
ooguidgen
oo-launch
ooreg
coretests
testprocess
