<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?ifdef Debug ?>
    <?define BINDIR = ..\..\bin\Debug ?>
  <?else?>
    <?define BINDIR = ..\..\bin ?>
  <?endif?>
	<Product Id="73874AF4-FBF8-41D1-8E75-FCDDABED71AC" Name="Omega Online" Language="1033" Version="0.4.2.0" Manufacturer="www.omegaonline.org.uk" UpgradeCode="3B0E3636-9746-49FF-A519-8411E71D1EB1">
		<Package InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="OOSetup.cab" EmbedCab="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir">
		  <Directory Id="ProgramFilesFolder">
			  <Directory Id="INSTALLLOCATION" Name="Omega Online">
				  <Component Id="CORE" Guid="E711D703-EB95-4396-B229-B29DAF212A2E">
            <File Id="OOCoreDLL" Name="OOCore.dll" Source="$(var.BINDIR)\OOCore.dll" Vital="yes"  KeyPath="yes" />
            <File Id="OOServerEXE" Name="OOServer.exe" Source="$(var.BINDIR)\OOServer.exe" Vital="yes" />
            <File Id="OOSvrUserEXE" Name="OOSvrUser.exe" Source="$(var.BINDIR)\OOSvrUser.exe" Vital="yes" />
          </Component>
          <Component Id="CORETOOLS" Guid="AD2E4309-865C-4F02-B87F-8A8765B2FF28" KeyPath="yes">
            <File Id="OORegisterEXE" Name="OORegister.exe" Source="$(var.BINDIR)\OORegister.exe" Vital="yes" />
          </Component>
			  </Directory>
		  </Directory>
	  </Directory>
		<Feature Id="Core" Title="Core features" Level="1">
			<ComponentRef Id="CORE" />
      <ComponentRef Id="CORETOOLS" />
		</Feature>
	</Product>
</Wix>
