<?xml version="1.0" encoding="UTF-8"?>

<!-- 
///////////////////////////////////////////////////////////////////////////////////
//
// Copyright (C) 2010 Rick Taylor
//
// This file is part of OOCore.wxs, the Omega Online WiX installer scripts.
//
// OOCore.wxs is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// OOCore.wxs is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with OOCore.wxs.  If not, see <http://www.gnu.org/licenses/>.
//
///////////////////////////////////////////////////////////////////////////////////
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" RequiredVersion="3.0.0.0">
  <Product Id="{28CFA922-1E70-4665-88F5-61F9F553515E}"
    Name="Omega Online Core"
    Language="1033"
    Version="0.5.0"
    Manufacturer="www.omegaonline.org.uk"
    UpgradeCode="{DF39C47D-E9EC-4644-93C4-6D649CED5CB8}">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Icon Id="Icon" SourceFile="../../src/OOServer/logo.ico"/>
    <Property Id="ARPPRODUCTICON" Value="Icon" />

    <!-- Define properties -->
    <Property Id="OMEGASANDBOXUNAME" Admin="yes" Value="default" >
      <RegistrySearch Id="OMEGASANDBOXUNAME.Search" Type="raw" Root="HKLM" Key="Software\Omega Online\OOServer" Name="sandbox_uname" />
    </Property>
    <Property Id="OMEGASANDBOXPWD" Admin="yes" Value="default" Hidden="yes" />
    <Property Id="AddUser.DoAdd" Value="no" />

    <!-- Define directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <?if $(var.Platform) = x64 ?>
        <Directory Id="ProgramFilesFolder64">
          <Directory Id="INSTALLDIR" Name="Omega Online" />
        </Directory>
        <Directory Id="SystemFolder64" />
      <?else ?>
        <Directory Id="ProgramFilesFolder">
          <Directory Id="INSTALLDIR" Name="Omega Online" />
        </Directory>
      <?endif ?>
      <Directory Id="SystemFolder" />
      <Directory Id="CommonFilesFolder">
        <Directory Id="COMMONDIR" Name="Omega Online" />
      </Directory>
    </Directory>

    <!-- Define file components -->
    <DirectoryRef Id="SystemFolder">
      <Component Id="OOCore32.dll" Guid="{B1B4620B-D8E4-4709-B368-3FC39E766DDF}" Win64="no" Permanent="yes">
        <File Source="$(var.OOCore.TargetDir)..\Win32\OOCore32.dll" KeyPath="yes" Checksum="yes" />
      </Component>
    </DirectoryRef>
    <?if $(var.Platform) = x64 ?>
      <DirectoryRef Id="SystemFolder64">
       <Component Id="OOCore64.dll" Guid="{B7A06F42-E1B0-4420-9DA1-128D0158DA87}" Permanent="yes">
         <File Source="$(var.OOCore.TargetPath)" KeyPath="yes" Checksum="yes" />
       </Component>
      </DirectoryRef>
    <?endif ?>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="OOServer.exe" Guid="{13EC374D-B4C7-4B4E-8ABF-BF937A1EDECB}" >
        <File Source="$(var.OOServer.TargetPath)" KeyPath="yes" Checksum="yes" />

        <!-- Stop and remove the service -->
        <ServiceControl Id="OOServer.Service.Control"
                        Name="OOServer"
                        Start="install"
                        Stop="both"
                        Remove="uninstall" />

        <!-- Install the service -->
        <ServiceInstall Id="OOServer.Service"
                        Name="OOServer"
                        Account="LocalSystem"
                        Description="Manages the peer connections for the Omega Online network"
                        DisplayName="Omega Online Network Gateway"
                        Type="ownProcess"
                        Interactive="no"
                        Vital="yes"
                        Start="auto"
                        ErrorControl="normal" >
          <ServiceDependency Id="LanmanWorkstation"/>
        </ServiceInstall>
      </Component>
      <Component Id="OOSvrUser.exe" Guid="{24DAC083-5F5C-4B84-B5E2-C5028491E45C}" >
        <File Source="$(var.OOSvrUser.TargetPath)" KeyPath="yes" Checksum="yes" />
      </Component>
      <Component Id="OOReg.exe" Guid="{B6158997-7D0F-4524-93EA-FB30FE10E8D3}" >
        <File Source="$(var.OOReg.TargetPath)" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- Install registry databases -->
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="OOServer.system.regdb" Guid="{8B2918F6-80C9-4D50-A514-0460F7D37BD5}">
        <File Source="$(var.OutDir)system.regdb" KeyPath="yes" />
      </Component>
      <Component Id="OOServer.user_template.regdb" Guid="{2723E66D-E2FC-4659-B49B-3E9E4FAD8012}">
        <File Source="$(var.OutDir)user_template.regdb" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- Define registry components -->
    <DirectoryRef Id="TARGETDIR" >
      <Component Id="OOCore.RegKeys" Guid="{41FC4BA1-449B-435b-A3C0-616FBDF9ECD2}">
        <RegistryKey Root="HKLM" Key="Software\Omega Online\Installation" Action="create" >
          <RegistryValue Name="CommonComponents" Type="string" Value="[COMMONDIR]" KeyPath="yes" />
        </RegistryKey>
      </Component>
      <Component Id="OOServer.RegKeys" Guid="{AFADA9A9-6023-43C6-B884-805206F64E9D}">
        <RegistryKey Root="HKLM" Key="Software\Omega Online\OOServer" Action="create" >
          <RegistryValue Name="sandbox_uname" Type="string" Value="[OMEGASANDBOXUNAME]" KeyPath="yes" />
          <RegistryValue Name="#example" Type="string" Value="OOServer will ignore any entries starting with #" />
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <!-- Define custom actions -->
    <CustomAction Id="CheckUser"
                  Return="check"
                  Execute="immediate"
                  BinaryKey="UserCALibrary"
                  DllEntry="_CheckUser@4" />

    <CustomAction Id="AddUser"
                  Return="check"
                  Execute="deferred"
                  BinaryKey="UserCALibrary"
                  DllEntry="_AddUser@4"
                  HideTarget="yes"
                  Impersonate="no" />

    <CustomAction Id="AddUser.Set"
                  Property="AddUser"
                  HideTarget="yes"
                  Value="[OMEGASANDBOXUNAME]|[OMEGASANDBOXPWD]" />

    <CustomAction Id="AddUser.RB"
                  Return="ignore"
                  Execute="rollback"
                  BinaryKey="UserCALibrary"
                  DllEntry="_RemoveUser@4"
                  HideTarget="yes"
                  Impersonate="no" />

    <CustomAction Id="AddUser.RB.Set"
                  Property="AddUser.RB"
                  HideTarget="yes"
                  Value="[OMEGASANDBOXUNAME]|[OMEGASANDBOXPWD]" />

    <CustomAction Id="UpdateUser"
                  Return="check"
                  Execute="deferred"
                  BinaryKey="UserCALibrary"
                  DllEntry="_UpdateUser@4"
                  HideTarget="yes"
                  Impersonate="no" />

    <CustomAction Id="UpdateUser.Set"
                  Property="UpdateUser"
                  HideTarget="yes"
                  Value="[OMEGASANDBOXUNAME]|[OMEGASANDBOXPWD]" />

    <CustomAction Id="RemoveUser"
                  Return="check"
                  Execute="deferred"
                  BinaryKey="UserCALibrary"
                  DllEntry="_RemoveUser@4"
                  HideTarget="yes"
                  Impersonate="no" />

    <CustomAction Id="RemoveUser.Set"
                  Property="RemoveUser"
                  HideTarget="yes"
                  Value="[OMEGASANDBOXUNAME]|[OMEGASANDBOXPWD]" />

    <!-- Define binary -->
    <Binary Id="UserCALibrary" SourceFile="$(var.UserCA.TargetPath)" />
    
    <!-- Set execute order -->
    <InstallExecuteSequence>
      <Custom Action="CheckUser" Before="InstallInitialize"><![CDATA[NOT REMOVE]]></Custom>

      <Custom Action="AddUser.Set" Before="StartServices"><![CDATA[AddUser.DoAdd="yes"]]></Custom>
      <Custom Action="AddUser" After="AddUser.Set"><![CDATA[AddUser.DoAdd="yes"]]></Custom>
      <Custom Action="AddUser.RB.Set" Before="AddUser"><![CDATA[AddUser.DoAdd="yes"]]></Custom>
      <Custom Action="AddUser.RB" After="AddUser.RB.Set"><![CDATA[AddUser.DoAdd="yes"]]></Custom>

      <Custom Action="UpdateUser.Set" Before="StartServices"><![CDATA[AddUser.DoAdd="update"]]></Custom>
      <Custom Action="UpdateUser" After="UpdateUser.Set"><![CDATA[AddUser.DoAdd="update"]]></Custom>

      <Custom Action="RemoveUser.Set" After="DeleteServices"><![CDATA[REMOVE~="ALL"]]></Custom>
      <Custom Action="RemoveUser" After="RemoveUser.Set"><![CDATA[REMOVE~="ALL"]]></Custom>
    </InstallExecuteSequence>

    <!-- Group components -->
    <ComponentGroup Id="OOCore">
      <ComponentRef Id="OOCore32.dll" />
      <?if $(var.Platform) = x64 ?>
        <ComponentRef Id="OOCore64.dll" />
      <?endif ?>
      <ComponentRef Id="OOCore.RegKeys" />
    </ComponentGroup>

    <ComponentGroup Id="OOServer">
      <ComponentRef Id="OOServer.exe" />
      <ComponentRef Id="OOSvrUser.exe" />
      <ComponentRef Id="OOServer.RegKeys" />
      <ComponentRef Id="OOServer.system.regdb" />
      <ComponentRef Id="OOServer.user_template.regdb" />
    </ComponentGroup>

    <ComponentGroup Id="OOReg">
      <ComponentRef Id="OOReg.exe" />
    </ComponentGroup>

    <!-- Define features -->
    <Feature Id="Core" Title="Omega Online base components" Level="1" >
      <ComponentGroupRef Id="OOCore" />
      <ComponentGroupRef Id="OOServer" />
      <ComponentGroupRef Id="OOReg" />
    </Feature>
  </Product>
</Wix>
