<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="{28CFA922-1E70-4665-88F5-61F9F553515E}"
      Name="Omega Online Core"
      Language="1033"
      Version="0.5.0"
      Manufacturer="www.omegaonline.org.uk"
      UpgradeCode="{DF39C47D-E9EC-4644-93C4-6D649CED5CB8}">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="OOCore.cab" EmbedCab="yes" />

    <Icon Id="Icon" SourceFile="../../src/OOServer/logo.ico"/>
    <Property Id="ARPPRODUCTICON" Value="Icon" />
    
    <!-- Define properties -->
    <Property Id="OMEGASANDBOXUNAME" Admin="yes" Value="default" >
      <RegistrySearch Id="OMEGASANDBOXUNAME.Search" Type="raw" Root="HKLM" Key="Software\Omega Online\OOServer" Name="sandbox_uname" />
    </Property>
    <Property Id="OMEGASANDBOXPWD" Admin="yes" Value="default" Hidden="yes" />
    <Property Id="OOServer.AddUser.DoAdd" Value="no" />
      
    <!-- Define directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="Omega Online" />
      </Directory>
      <Directory Id="SystemFolder" />
      <Directory Id="CommonAppDataFolder">
        <Directory Id="COMMONAPPDIR" Name="Omega Online" />
      </Directory>
    </Directory>
    
    <!-- Define file components -->
    <DirectoryRef Id="SystemFolder">
      <Component Id="OOCore.dll" Guid="{B1B4620B-D8E4-4709-B368-3FC39E766DDF}" Permanent="yes">
        <File Source="$(var.Bindir)OOCore.dll" KeyPath="yes" Checksum="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="OOServer.exe" Guid="{13EC374D-B4C7-4B4E-8ABF-BF937A1EDECB}">
        <File Source="$(var.Bindir)OOServer.exe" KeyPath="yes" Checksum="yes" BindPath="[SystemFolder]" />
        
        <!-- Stop and remove the service -->
        <ServiceControl Id="OOServer.Service.Control"
                        Name="OOServer"
                        Stop="both"
                        Remove="uninstall" />
        
        <!-- Install the service -->
        <ServiceInstall Id="OOServer.Service"
                        Name="OOServer"
                        Description="Manages the peer connections for the Omega Online network"
                        DisplayName="Omega Online Network Gateway"
                        Type="ownProcess"
                        Interactive="no"
                        Vital="yes"
                        Start="auto"
                        ErrorControl="ignore" />
      </Component>
      <Component Id="OOSvrUser.exe" Guid="{24DAC083-5F5C-4B84-B5E2-C5028491E45C}">
        <File Source="$(var.Bindir)OOSvrUser.exe" KeyPath="yes" Checksum="yes" BindPath="[SystemFolder]" />
      </Component>
      
      <!-- We don't install OOSvrLite.dll - it is designed for hand-held devices only -->
      
    </DirectoryRef>
    <DirectoryRef Id="COMMONAPPDIR">
      <Component Id="OOServer.system.regdb" Guid="{8B2918F6-80C9-4D50-A514-0460F7D37BD5}">
        <File Source="$(var.Datadir)system.regdb" KeyPath="yes" />
      </Component>
      <Component Id="OOServer.all_users.regdb" Guid="{BD35170C-A657-4E8E-8DAD-C6048C3EA9C3}">
        <File Source="$(var.Datadir)all_users.regdb" KeyPath="yes" />
      </Component>
      <Component Id="OOServer.default_user.regdb" Guid="{2723E66D-E2FC-4659-B49B-3E9E4FAD8012}">
        <File Source="$(var.Datadir)default_user.regdb" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    
    <!-- Define registry components -->
    <DirectoryRef Id="TARGETDIR" >
      <Component Id="OOServer.RegKeys" Guid="{AFADA9A9-6023-43C6-B884-805206F64E9D}">
        <RegistryKey Root="HKLM" Key="Software\Omega Online\OOServer" Action="create" >
          <RegistryValue Name="sandbox_uname" Type="string" Value="[OMEGASANDBOXUNAME]" KeyPath="yes" />
          <RegistryValue Name="#example" Type="string" Value="OOServer will ignore any entries starting with #" />
        </RegistryKey>
      </Component>
    </DirectoryRef>
    
    <!-- Define custom actions -->
    <CustomAction Id="OOServer.CheckUser"
                  Return="check"
                  Execute="immediate"
                  BinaryKey="CustomLibrary"
                  DllEntry="_CheckUser@4" />
    
    <CustomAction Id="OOServer.AddUser" 
                  Return="check" 
                  Execute="deferred"
                  BinaryKey="CustomLibrary" 
                  DllEntry="_AddUser@4"
                  HideTarget="yes" 
                  Impersonate="no" />
    
    <CustomAction Id="OOServer.AddUser.SetProperty" 
                  Property="OOServer.AddUser" 
                  Value="[OMEGASANDBOXUNAME]|[OMEGASANDBOXPWD]" />

    <CustomAction Id="OOServer.AddUser.Rollback"
                  Return="ignore"
                  Execute="rollback"
                  BinaryKey="CustomLibrary"
                  DllEntry="_RemoveUser@4"
                  HideTarget="yes"
                  Impersonate="no" />

    <CustomAction Id="OOServer.AddUser.Rollback.SetProperty"
                  Property="OOServer.AddUser.Rollback"
                  Value="[OMEGASANDBOXUNAME]|[OMEGASANDBOXPWD]" />

    <CustomAction Id="OOServer.UpdateUser"
                  Return="check"
                  Execute="deferred"
                  BinaryKey="CustomLibrary"
                  DllEntry="_UpdateUser@4"
                  HideTarget="yes"
                  Impersonate="no" />

    <CustomAction Id="OOServer.UpdateUser.SetProperty"
                  Property="OOServer.UpdateUser"
                  Value="[OMEGASANDBOXUNAME]|[OMEGASANDBOXPWD]" />

    <CustomAction Id="OOServer.RemoveUser"
                  Return="check"
                  Execute="deferred"
                  BinaryKey="CustomLibrary"
                  DllEntry="_RemoveUser@4"
                  HideTarget="yes"
                  Impersonate="no" />

    <CustomAction Id="OOServer.RemoveUser.SetProperty"
                  Property="OOServer.RemoveUser"
                  Value="[OMEGASANDBOXUNAME]|[OMEGASANDBOXPWD]" />
    
    <!-- Define binary -->
    <?ifdef Debug ?>
      <Binary Id="CustomLibrary" SourceFile=".\bin\Debug\Custom.dll" />
    <?else?>
      <Binary Id="CustomLibrary" SourceFile=".\bin\Release\Custom.dll" />
    <?endif?>

    <!-- Set execute order -->
    <InstallExecuteSequence>
      <Custom Action="OOServer.CheckUser" After="InstallValidate"><![CDATA[NOT REMOVE]]></Custom>
      
      <Custom Action="OOServer.AddUser.SetProperty" After="InstallFiles"><![CDATA[OOServer.AddUser.DoAdd="yes"]]></Custom>
      <Custom Action="OOServer.AddUser" After="OOServer.AddUser.SetProperty"><![CDATA[OOServer.AddUser.DoAdd="yes"]]></Custom>
      <Custom Action="OOServer.AddUser.Rollback.SetProperty" Before="OOServer.AddUser"><![CDATA[OOServer.AddUser.DoAdd="yes"]]></Custom>
      <Custom Action="OOServer.AddUser.Rollback" After="OOServer.AddUser.Rollback.SetProperty"><![CDATA[OOServer.AddUser.DoAdd="yes"]]></Custom>
      
      <Custom Action="OOServer.UpdateUser.SetProperty" After="InstallFiles"><![CDATA[OOServer.AddUser.DoAdd="update"]]></Custom>
      <Custom Action="OOServer.UpdateUser" After="OOServer.UpdateUser.SetProperty"><![CDATA[OOServer.AddUser.DoAdd="update"]]></Custom>

      <Custom Action="OOServer.RemoveUser.SetProperty" After="InstallFiles"><![CDATA[REMOVE~="ALL"]]></Custom>
      <Custom Action="OOServer.RemoveUser" After="OOServer.RemoveUser.SetProperty"><![CDATA[REMOVE~="ALL"]]></Custom>
    </InstallExecuteSequence>

    <!-- Group components -->
    <ComponentGroup Id="OOCore">
      <ComponentRef Id="OOCore.dll" />
    </ComponentGroup>
    
    <ComponentGroup Id="OOServer">
      <ComponentRef Id="OOServer.exe" />
      <ComponentRef Id="OOSvrUser.exe" />
      <ComponentRef Id="OOServer.RegKeys" />
      <ComponentRef Id="OOServer.system.regdb" />
      <ComponentRef Id="OOServer.all_users.regdb" />
      <ComponentRef Id="OOServer.default_user.regdb" />
    </ComponentGroup>
    
    <!-- Define features -->
    <Feature Id="Core" Title="Omega Online base components" Level="1" >
      <ComponentGroupRef Id="OOCore" />
      <ComponentGroupRef Id="OOServer" />
    </Feature>
  </Product>
</Wix>
