<?xml version="1.0" encoding="UTF-8"?>

<!-- 
///////////////////////////////////////////////////////////////////////////////////
//
// Copyright (C) 2010 Rick Taylor
//
// This file is part of OOCore.wxs, the Omega Online WiX installer scripts.
//
// OOCore.wxs is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// OOCore.wxs is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with OOCore.wxs.  If not, see <http://www.gnu.org/licenses/>.
//
///////////////////////////////////////////////////////////////////////////////////
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" RequiredVersion="3.0.0.0">
	<Module Id="OOCore_MergeModule" Language="0" Version="0.5.0">
		<Package Id="072e8f9f-7b5d-49fc-b0e6-df716d13ac34" 
             Manufacturer="www.omegaonline.org.uk" 
             InstallerVersion="200"
             ReadOnly="yes" 
             InstallScope="perMachine" />

    <!-- Define properties -->
    <Property Id="OMEGASANDBOXUNAME" Admin="yes" Value="default" >
      <RegistrySearch Id="OMEGASANDBOXUNAME.Search" Type="raw" Root="HKLM" Key="Software\Omega Online\OOServer" Name="sandbox_uname" />
    </Property>
    <Property Id="OMEGASANDBOXPWD" Admin="yes" Value="default" Hidden="yes" />
    <Property Id="AddUser.DoAdd" Value="no" />

    <!-- Define directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="Omega Online" />
      </Directory>
      <Directory Id="SystemFolder" />
      <Directory Id="CommonAppDataFolder">
        <Directory Id="COMMONAPPDIR" Name="Omega Online" />
      </Directory>
      <Directory Id="CommonFilesFolder">
        <Directory Id="COMMONDIR" Name="Omega Online" />
      </Directory>
    </Directory>

    <!-- Define file components -->
    <DirectoryRef Id="SystemFolder">
      <Component Id="OOCore.dll" Guid="{B1B4620B-D8E4-4709-B368-3FC39E766DDF}">
        <File Source="$(var.BinDir)\OOCore.dll" KeyPath="yes" Checksum="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="OOServer.exe" Guid="{13EC374D-B4C7-4B4E-8ABF-BF937A1EDECB}">
        <File Source="$(var.BinDir)\OOServer.exe" KeyPath="yes" Checksum="yes" BindPath="[SystemFolder]" />

        <!-- Stop and remove the service -->
        <ServiceControl Id="OOServer.Service.Control"
                        Name="OOServer"
                        Stop="both"
                        Remove="uninstall" />

        <!-- Install the service -->
        <ServiceInstall Id="OOServer.Service"
                        Name="OOServer"
                        Description="Manages the peer connections for the Omega Online network"
                        DisplayName="Omega Online Network Gateway"
                        Type="ownProcess"
                        Interactive="no"
                        Vital="yes"
                        Start="auto"
                        ErrorControl="ignore" />
      </Component>
      <Component Id="OOSvrUser.exe" Guid="{24DAC083-5F5C-4B84-B5E2-C5028491E45C}">
        <File Source="$(var.BinDir)\OOSvrUser.exe" KeyPath="yes" Checksum="yes" BindPath="[SystemFolder]" />
      </Component>

      <!-- We don't install OOSvrLite.dll - it is designed for hand-held devices only -->

    </DirectoryRef>

    <!-- Install registry databases -->
    <DirectoryRef Id="COMMONAPPDIR">
      <Component Id="OOServer.system.regdb" Guid="{8B2918F6-80C9-4D50-A514-0460F7D37BD5}">
        <File Source="$(var.DataDir)\system.regdb" KeyPath="yes" />
      </Component>
      <Component Id="OOServer.default_user.regdb" Guid="{2723E66D-E2FC-4659-B49B-3E9E4FAD8012}">
        <File Source="$(var.DataDir)\default_user.regdb" KeyPath="yes" />
      </Component>
      <Component Id="OOServer.sandbox.regdb" Guid="{BD35170C-A657-4E8E-8DAD-C6048C3EA9C3}">
        <File Source="$(var.DataDir)\sandbox.regdb" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- Install tools -->
    <DirectoryRef Id="COMMONDIR">
      <Component Id="OOReg.exe" Guid="{B6158997-7D0F-4524-93EA-FB30FE10E8D3}">
        <File Source="$(var.BinDir)\OOReg.exe" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- Define registry components -->
    <DirectoryRef Id="TARGETDIR" >
      <Component Id="OOServer.RegKeys" Guid="{AFADA9A9-6023-43C6-B884-805206F64E9D}">
        <RegistryKey Root="HKLM" Key="Software\Omega Online\OOServer" Action="create" >
          <RegistryValue Name="sandbox_uname" Type="string" Value="[OMEGASANDBOXUNAME]" KeyPath="yes" />
          <RegistryValue Name="#example" Type="string" Value="OOServer will ignore any entries starting with #" />
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <!-- Define custom actions -->
    <CustomAction Id="CheckUser"
                  Return="check"
                  Execute="immediate"
                  BinaryKey="UserCALibrary"
                  DllEntry="_CheckUser@4" />

    <CustomAction Id="AddUser"
                  Return="check"
                  Execute="deferred"
                  BinaryKey="UserCALibrary"
                  DllEntry="_AddUser@4"
                  HideTarget="yes"
                  Impersonate="no" />

    <CustomAction Id="AddUser.Set"
                  Property="AddUser"
                  HideTarget="yes"
                  Value="[OMEGASANDBOXUNAME]|[OMEGASANDBOXPWD]" />

    <CustomAction Id="AddUser.RB"
                  Return="ignore"
                  Execute="rollback"
                  BinaryKey="UserCALibrary"
                  DllEntry="_RemoveUser@4"
                  HideTarget="yes"
                  Impersonate="no" />

    <CustomAction Id="AddUser.RB.Set"
                  Property="AddUser.RB"
                  HideTarget="yes"
                  Value="[OMEGASANDBOXUNAME]|[OMEGASANDBOXPWD]" />

    <CustomAction Id="UpdateUser"
                  Return="check"
                  Execute="deferred"
                  BinaryKey="UserCALibrary"
                  DllEntry="_UpdateUser@4"
                  HideTarget="yes"
                  Impersonate="no" />

    <CustomAction Id="UpdateUser.Set"
                  Property="UpdateUser"
                  HideTarget="yes"
                  Value="[OMEGASANDBOXUNAME]|[OMEGASANDBOXPWD]" />

    <CustomAction Id="RemoveUser"
                  Return="check"
                  Execute="deferred"
                  BinaryKey="UserCALibrary"
                  DllEntry="_RemoveUser@4"
                  HideTarget="yes"
                  Impersonate="no" />

    <CustomAction Id="RemoveUser.Set"
                  Property="RemoveUser"
                  HideTarget="yes"
                  Value="[OMEGASANDBOXUNAME]|[OMEGASANDBOXPWD]" />

    <!-- Define binary -->
    <?ifdef Debug ?>
    <Binary Id="UserCALibrary" SourceFile=".\bin\Debug\UserCA.dll" />
    <?else?>
    <Binary Id="UserCALibrary" SourceFile=".\bin\Release\UserCA.dll" />
    <?endif?>

    <!-- Set execute order -->
    <InstallExecuteSequence>
      <Custom Action="CheckUser" Before="InstallFiles"><![CDATA[NOT REMOVE]]></Custom>

      <Custom Action="AddUser.Set" After="InstallFiles"><![CDATA[AddUser.DoAdd="yes"]]></Custom>
      <Custom Action="AddUser" After="AddUser.Set"><![CDATA[AddUser.DoAdd="yes"]]></Custom>
      <Custom Action="AddUser.RB.Set" Before="AddUser"><![CDATA[AddUser.DoAdd="yes"]]></Custom>
      <Custom Action="AddUser.RB" After="AddUser.RB.Set"><![CDATA[AddUser.DoAdd="yes"]]></Custom>

      <Custom Action="UpdateUser.Set" After="InstallFiles"><![CDATA[AddUser.DoAdd="update"]]></Custom>
      <Custom Action="UpdateUser" After="UpdateUser.Set"><![CDATA[AddUser.DoAdd="update"]]></Custom>

      <Custom Action="RemoveUser.Set" After="InstallFiles"><![CDATA[REMOVE~="ALL"]]></Custom>
      <Custom Action="RemoveUser" After="RemoveUser.Set"><![CDATA[REMOVE~="ALL"]]></Custom>
    </InstallExecuteSequence>

    <!-- Group components -->
    <!--<ComponentGroup Id="OOCore">
      <ComponentRef Id="OOCore.dll" />
    </ComponentGroup>

    <ComponentGroup Id="OOServer">
      <ComponentRef Id="OOServer.exe" />
      <ComponentRef Id="OOSvrUser.exe" />
      <ComponentRef Id="OOServer.RegKeys" />
      <ComponentRef Id="OOServer.system.regdb" />
      <ComponentRef Id="OOServer.sandbox.regdb" />
      <ComponentRef Id="OOServer.default_user.regdb" />
    </ComponentGroup>

     Define features 
    <Feature Id="Core" Title="Omega Online base components" Level="1" >
      <ComponentGroupRef Id="OOCore" />
      <ComponentGroupRef Id="OOServer" />
    </Feature>-->
	</Module>
</Wix>
